@import "variables";

.topbar {
  height: 90px;
  border-bottom: 1px solid #e5e5e5;

  h1 {
    font-size: 30px;
    color: @rixi-green;
  }

  .topbar-login {
    padding-top: 25px;
  }
}

.home-sidebar {
  .sidebar-element {
    padding: 10px 0;

    > a {
      color: @brand-primary;
      font-weight: 700;
      font-size: 18px;

      &:hover,
      &:focus,
      &.active {
        color: @green-sea;
      }
    }
  }
}

.rixi-main {
  @media (min-width: @screen-sm-min) {
    padding-top: 50px;
  }

  @media (max-width: @screen-sm-min) {
    padding-top: 30px;
  }

  .rixi-main-panel {
  }
}
